
<!DOCTYPE html>  
 <html>  
      <head>  
           <title>Webslesson Tutorial | Dynamic Dropdown list using AngularJS in PHP</title>  
           <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
      </head>  
      <body>  
           <div class="container text-center mt-4">  
                <h3>Dynamic Dropdown list using AngularJS in PHP</h3>  
                <br />  
                <div ng-app="myapp" ng-controller="usercontroller" ng-init="loadRep()"> 
                    
                            <h4><option ng-repeat="titre in titres" value="{{titre.question_id}}">{{titre.question_text}}</option></h4>

                     <select name="reponse" ng-model="reponse" class="form-control">  
                            <option ng-repeat="reponse in reponses" value="{{reponse.reponse_id}}">{{reponse.reponse_text}}</option>
                     </select>  
                     <br/>   
                </div>  
           </div>  
      </body>  
 </html>  
 <script>  
 var app = angular.module("myapp",[]);  
 app.controller("usercontroller", function($scope, $http){  
      $scope.loadRep = function(){  
           $http.get("load_question.php")  
           .success(function(data){  
                $scope.titres = data;  
           }) 
          $http.get("load_reponse.php")  
           .success(function(data){  
                $scope.reponses = data;  
           })
      } 
 }); 
</script>

